@using JJMasterData.Commons.Localization
@using JJMasterData.Core.Web
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.EntityViewModel

<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        @Html.LabelFor(model => model.FormEventType, Translate.Key("Type"),
        new Dictionary<string, string>
        {
            { BootstrapHelper.DataToggle, "tooltip" },
            { "title", Translate.Key("Type") }
        })
        @Html.TextBoxFor((model => model.FormEventType),Model.HtmlAttributes)
    </div>
</div>