html {
    height: 100%;
}

.tab-content {
    margin-top: 20px;
}
/*Panels & Cards*/
.panel-heading {
    cursor: pointer;
}

    .panel-heading .panel-title {
        position: relative;
    }

    .panel-heading[aria-expanded="true"] .panel-title:after {
        content: "\f147";
        font-family: FontAwesome;
        right: 0px;
        position: absolute;
        top: 2px;
        color: inherit;
    }

    .panel-heading[aria-expanded="false"] .panel-title:after {
        content: "\f196";
        font-family: FontAwesome;
        right: 0px;
        position: absolute;
        top: 2px;
        color: inherit;
    }


.card {
    margin-bottom: 1vh !important;
}

.card-header .jj-panel-title {
    display: flex;
    justify-content: space-between;
}

.card-header[aria-expanded="true"] .jj-panel-title:after {
    content: "\f147";
    font-family: FontAwesome;
    color: inherit;
}

.card-header[aria-expanded="false"] .jj-panel-title:after {
    content: "\f196";
    font-family: FontAwesome;
    color: inherit;
}

.card-header.bg-primary {
    color: white
}

.table .table-action {
    text-align: center;
    vertical-align: middle;
    width: 3.575rem;
}

.table .jj-checkbox {
    vertical-align: middle;
    text-align: center;
    width: 3.575rem;
}

    .table .jj-checkbox i {
        padding-top: 0.1875rem;
        float: right;
    }

    .table .jj-checkbox .dropdown-toggle {
        margin-left: 0.1875rem;
    }

.table .tr-hover-action {
    cursor: pointer;
}

    .table .tr-hover-action:hover td:first-child:before {
        font-family: 'FontAwesome';
        content: "\f142";
        position: absolute;
        left: 0;
        font-size: 1.25em;
    }


/* Table Head Fixed Style  */

table.table-fixed-header {
    border-collapse: collapse;
}

    table.table-fixed-header th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, .2);
        background: #eee;
    }

        table.table-fixed-header th[scope=row] {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            z-index: 1;
            vertical-align: top;
        }

    table.table-fixed-header:nth-of-type(2) th:not([scope=row]):first-child {
        left: 0;
        z-index: 3;
    }

.table-fixed-header th[scope=row] + td {
    min-width: 24em;
}

.table-fixed-header th[scope=row] {
    min-width: 20em;
}

.table-gallery td {
    padding-right: 10px;
}

textarea {
    resize: none;
}

.required .control-label:after {
    content: "*";
    color: red;
}

.required .col-form-label:after {
    content: "*";
    color: red;
}

.jjenable-sorting {
    cursor: pointer;
    cursor: hand;
}

    .jjenable-sorting:hover {
        cursor: pointer;
        cursor: hand;
        text-decoration: underline;
    }

/*Ajax message*/
#spinner-overlay {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    margin: -5px 0 0 -5px;
    padding: 5px;
    /*background: #666666 url(../img/ajax-background.png) 30% 30% repeat;*/
    opacity: .55;
    filter: Alpha(Opacity=55);
    cursor: progress;
}

    #spinner-overlay .ajaxImage {
    }


    #spinner-overlay .ajaxMessage {
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -45px;
        margin-top: 15px;
        width: 100px;
        height: 26px;
        display: none;
    }


.checkbox label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*noinspection CssReplaceWithShorthandSafely*/

input.loading-circle {
    background: url('../../images/LoadingIndicator.gif') no-repeat right 0.625rem center;
}

a.disabled {
    cursor: not-allowed !important;
    color: gray !important;
}

.jjborder-static p.form-control-static {
    border-top: 1px solid #e6e6e6;
    text-align: center;
}

.jjborder-static {
    text-align: center;
}

.jjlabel-process span {
    margin: 5px;
}

.jjform-action .default-option {
    cursor: pointer !important;
}


.jjsortable {
    cursor: -webkit-grab;
    cursor: grab;
}

    .jjsortable .ui-sortable-helper {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    .jjsortable li:hover {
        background-color: #f7f7f7;
    }

    .jjsortable .jjsortable-icon {
        cursor: -webkit-grab;
        cursor: grab;
        width: 10px;
        margin-top: 0.8em;
        text-align: right;
    }

    .jjsortable a .jjsortable-span {
        cursor: -webkit-grab;
        cursor: grab;
        margin-top: 1.95em;
        text-align: right;
        font-size: 0.6em;
    }

    .jjsortable .ui-sortable-helper,
    .jjsortable .ui-sortable-helper .jjsortable-icon {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }


    .jjsortable a.active .jjsortable-icon:after,
    .jjsortable a.active:hover .jjsortable-icon:after {
        font-family: "FontAwesome";
        content: "\f0da";
        display: inline-block;
        padding-right: 0;
        vertical-align: middle;
    }

    .jjsortable a:hover .jjsortable-icon:after {
        font-family: "FontAwesome";
        content: "\f07d";
        display: inline-block;
        padding-right: 0;
        vertical-align: middle;
    }


.bootstrap-tagsinput {
    width: 100%;
}

.required-symbol {
    color: red;
}

.help-description {
    cursor: pointer;
    padding-left: 0.25rem;
    color: #005a86;
}


/* Data Dictionary Field and Panel */

@media (min-height: 310px) {

    #field-details {
        height: 64vh !important;
    }

    #listField {
        height: 55vh !important;
    }
}

@media (min-height: 610px) {

    #field-details {
        height: 71vh !important;
    }

    #listField {
        height: 64vh !important;
    }
}

@media (min-height: 710px) {

    #field-details {
        height: 75vh !important;
    }

    #listField {
        height: 70vh !important;
    }
}

.jjrelative {
    position: relative;
}


.jjtoolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #808080;
}


#field-details {
    border-width: 0px;
    width: 100%;
    height: 75vh;
    overflow: auto;
}

#listField {
    border-width: 0px;
    width: 100%;
    height: 69vh;
    overflow: auto;
}

div.dropdown-menu.open {
    max-height: 314px !important;
    overflow: hidden;
}

ul.dropdown-menu.inner {
    max-height: 260px !important;
    overflow-y: auto;
}

.bg-jjmasterdata {
    border-color: #dddddd !important;
}

/*Search component*/
.btn-jjsearch {
    pointer-events: none !important;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

/* _Menu Navbar */
.navbar .nav-pills .nav-link.active {
    color: #fff !important
}

/* Legacy bootstrap-theme.css implementation */

a.list-group-item,
button.list-group-item {
    color: #555;
}

    a.list-group-item .list-group-item-heading,
    button.list-group-item .list-group-item-heading {
        color: #333;
    }

.page-header {
    margin: 30px 0 15px;
    border-bottom: 1px solid #eeeeee;
}

.sub-title {
    font-size: 1.5rem !important;
    font-weight: 400;
    line-height: 1;
    color: #777777;
}


/* Bootstrap 5 */
.dropdown-item > a {
    text-decoration: none
}

.jjtoolbar-bs5 {
    text-align: center;
    color: #808080;
    border-top: solid 1px #eeee;
    padding-top: 15px;
}

.jjtoolbar-item-bs5 {
    width: 7.5% !important
}

.accordion-button {
    height: auto;
}

/*Bootstrap select custom style*/
button.dropdown-toggle.form-control {
    border-bottom-color: rgb(206, 212, 218) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-image-repeat: stretch !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgb(206, 212, 218) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-color: rgb(206, 212, 218) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-top-color: rgb(206, 212, 218) !important;
    border-radius: 4px;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    box-sizing: border-box !important;
    transition-property: color, background-color, border-color, box-shadow !important;
}

/*Inline icons*/
.form-control.jj-icon-search {
    padding-right: calc(1.5em + .75rem)  !important;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M416%20208c0%2045.9-14.9%2088.3-40%20122.7L502.6%20457.4c12.5%2012.5%2012.5%2032.8%200%2045.3s-32.8%2012.5-45.3%200L330.7%20376c-34.4%2025.2-76.8%2040-122.7%2040C93.1%20416%200%20322.9%200%20208S93.1%200%20208%200S416%2093.1%20416%20208zM208%20352c79.5%200%20144-64.5%20144-144s-64.5-144-144-144S64%20128.5%2064%20208s64.5%20144%20144%20144z%22%2F%3E%3C%2Fsvg%3E")  !important;
    background-repeat: no-repeat  !important;
    background-position: right calc(.375em + .1875rem) center  !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)  !important;
}

.form-control.jj-icon-success {
    padding-right: calc(1.5em + .75rem)  !important;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M470.6%20105.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-256%20256c-12.5%2012.5-32.8%2012.5-45.3%200l-128-128c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200L192%20338.7%20425.4%20105.4c12.5-12.5%2032.8-12.5%2045.3%200z%22%2F%3E%3C%2Fsvg%3E") !important;
    background-repeat: no-repeat  !important;
    background-position: right calc(.375em + .1875rem) center  !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)  !important;
}

.form-control.jj-icon-warning {
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M256%2032L0%20480H512L256%2032zm24%20160v24V328v24H232V328%20216%20192h48zM232%20384h48v48H232V384z%22%2F%3E%3C%2Fsvg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}

.form-control.jj-icon-error {
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M310.6%20150.6c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L160%20210.7%2054.6%20105.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3L114.7%20256%209.4%20361.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200L160%20301.3%20265.4%20406.6c12.5%2012.5%2032.8%2012.5%2045.3%200s12.5-32.8%200-45.3L205.3%20256%20310.6%20150.6z%22%2F%3E%3C%2Fsvg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 2px !important;
}

.jj-blink {
    animation: blink 1s ease-in infinite;
}

@keyframes blink {
    from, to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/*Workaround https://github.com/flatpickr/flatpickr/issues/2575*/
.date > .form-control {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

/*JJMasterData Web*/
.bs-clipboard {
    position: absolute;
    right: 7px;
    top: 7px;
}

    .bs-clipboard button.btn-default {
        background-color: inherit;
    }

/*Spinner overlay*/
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-border-lg {
    width: 5rem;
    height: 5rem;
    border-width: 0.45em;
}

.jj-modal-sm {
    --bs-modal-width: 50% !important;
}

.jj-modal-default {
    --bs-modal-width: 75% !important;
}

.jj-modal-lg {
    --bs-modal-width: 85% !important;
    --bs-modal-height: 5% !important;
}

.jj-modal-xl {
    --bs-modal-width: 95% !important;
}

.modal-iframe {
    width: 100%;
    height: 80vh;
    border: 0
}

.fade-out {
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

/* Bootstrap 5 switch */
.form-check-input {
    clear: left;
}

.form-switch.form-switch-sm .form-check-input {
    height: 1rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}

.form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}


.form-switch.form-switch-lg .form-check-input {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

.form-switch.form-switch-xl .form-check-input {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

input.form-control:read-only {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
}

/*Custom accordion colors*/
.accordion {
    --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
    --bs-accordion-btn-focus-box-shadow: inset 0 calc(-1*var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-default {
    --bs-accordion-active-bg: var(--bs-tertiary-bg);
    --bs-accordion-btn-active: var(--bs-tertiary-bg);
    --bs-accordion-btn-bg: var(--bs-tertiary-bg);
    --bs-accordion-active: var( --bs-body-color);
    --bs-accordion-active-color: var( --bs-body-color);
    --bs-accordion-btn-color: var( --bs-body-color);
}

.accordion-primary {
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
    --bs-accordion-active: var(--bs-primary-text-emphasis);
    --bs-accordion-btn-color: var(--bs-primary-text-emphasis);
    --bs-accordion-btn-active: var(--bs-primary-bg-subtle);
    --bs-accordion-active-color: var( --bs-primary-text-emphasis);
    --bs-accordion-btn-bg: var(--bs-primary-bg-subtle);
}

.accordion-success {
    --bs-accordion-active-bg: var(--bs-success-bg-subtle);
    --bs-accordion-active: var(--bs-success-text-emphasis);
    --bs-accordion-btn-color: var(--bs-success-text-emphasis);
    --bs-accordion-btn-active: var(--bs-success-bg-subtle);
    --bs-accordion-active-color: var(--bs-success-text-emphasis);
    --bs-accordion-btn-bg: var(--bs-success-bg-subtle);
}

.accordion-danger {
    --bs-accordion-active-bg: var(--bs-danger-bg-subtle);
    --bs-accordion-active: var(--bs-danger-text-emphasis);
    --bs-accordion-btn-color: var(--bs-danger-text-emphasis);
    --bs-accordion-btn-active: var(--bs-danger-bg-subtle);
    --bs-accordion-active-color: var(--bs-danger-text-emphasis);
    --bs-accordion-btn-bg: var(--bs-danger-bg-subtle);
}

.accordion-warning {
    --bs-accordion-active-bg: var(--bs-warning-bg-subtle);
    --bs-accordion-active: var(--bs-warning-text-emphasis);
    --bs-accordion-btn-color: var(--bs-warning-text-emphasis);
    --bs-accordion-btn-active: var(--bs-warning-bg-subtle);
    --bs-accordion-active-color: var(--bs-warning-text-emphasis);
    --bs-accordion-btn-bg: var(--bs-warning-bg-subtle);
}

.accordion-info {
    --bs-accordion-active-bg: var(--bs-info-bg-subtle);
    --bs-accordion-active: var(--bs-info-text-emphasis);
    --bs-accordion-btn-color: var(--bs-info-text-emphasis);
    --bs-accordion-btn-active: var(--bs-info-bg-subtle);
    --bs-accordion-btn-bg: var(--bs-info-bg-subtle);
    --bs-accordion-active-color: var(--bs-info-text-emphasis);
}

.accordion-dark {
    --bs-accordion-active-bg: var(--bs-dark-bg-subtle);
    --bs-accordion-active: var(--bs-dark-text-emphasis);
    --bs-accordion-btn-color: var(--bs-dark-text-emphasis);
    --bs-accordion-btn-active: var(--bs-dark-bg-subtle);
    --bs-accordion-active-color: var(--bs-dark-text-emphasis);
    --bs-accordion-btn-bg: var(--bs-dark-bg-subtle);
}

.accordion-light {
    --bs-accordion-active-bg: var(--bs-light-bg-subtle);
    --bs-accordion-active: var(--bs-light-text-emphasis);
    --bs-accordion-btn-color: var(--bs-light-text-emphasis);
    --bs-accordion-btn-active: var(--bs-light-bg-subtle);
    --bs-accordion-active-color: var(--bs-light-text-emphasis);
    --bs-accordion-btn-bg: var(--bs-light-bg-subtle);
}

.accordion-secondary {
    --bs-accordion-active-bg: var(--bs-secondary-bg-subtle);
    --bs-accordion-active: var(--bs-secondary-text-emphasis);
    --bs-accordion-btn-color: var(--bs-secondary-text-emphasis);
    --bs-accordion-btn-active: var(--bs-secondary-bg-subtle);
    --bs-accordion-active-color: var(--bs-secondary-text-emphasis);
    --bs-accordion-btn-bg: var(--bs-secondary-bg-subtle);
}

.form-control-static {
    min-height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

.pagination-jump-to-page-input {
    border-radius: 0;
}

.pagination-jump-to-page-button {
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--bs-pagination-color) !important;
    margin-left: calc(var(--bs-border-width)*-1);
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    text-decoration: none;
    background-color: var(--bs-pagination-bg) !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .pagination-jump-to-page-button:hover {
        z-index: 2 !important;
        color: var(--bs-pagination-hover-color) !important;
        background-color: var(--bs-pagination-hover-bg) !important;
        border-color: var(--bs-pagination-hover-border-color) !important;
    }



.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.42857143;
    box-shadow: none;
    font-family: monospace;
    position: relative;
    overflow: hidden;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.CodeMirror-focused {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-primary-border-subtle);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb),.25);
}

.btn-default {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #333;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #ccc;
    --bs-btn-hover-color: #333;
    --bs-btn-hover-bg: #e6e6e6;
    --bs-btn-hover-border-color: #adadad;
    --bs-btn-focus-shadow-rgb: #8c8c8c;
    --bs-btn-active-color: #333;
    --bs-btn-active-bg: #d4d4d4;
    --bs-btn-active-border-color: #8c8c8c;
}

/* Backport table-sm to Bootstrap 3 */
.table-sm > :not(caption) > * > *{
    padding: 0.25rem 0.25rem !important;
}
