@using JJMasterData.Core.UI
@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.Actions.ISubmittableAction
@inject IStringLocalizer<MasterDataResources> StringLocalizer


<div class="@BootstrapHelper.FormGroup col-sm-4 required">
    <label asp-for="IsSubmit" class="@BootstrapHelper.Label"></label>
    <tooltip title="@StringLocalizer["If true, the entire page will be reloaded after executing the action, else, a AJAX request is made to reload just the current form. If inside a modal, the submit will be executed after the modal is closed."]"/>
    <checkbox for="IsSubmit" switch="true" />
</div>

