[*.cs]


dotnet_diagnostic.CA1841.severity = error

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.RCS1194.severity = none
dotnet_diagnostic.RCS1139.severity = none
dotnet_diagnostic.RCS1015.severity = error
dotnet_diagnostic.RCS1077.severity = error
dotnet_diagnostic.RCS1080.severity = error
dotnet_diagnostic.RCS1105.severity = error
dotnet_diagnostic.RCS1112.severity = error
dotnet_diagnostic.RCS1156.severity = error
dotnet_diagnostic.RCS1240.severity = error
dotnet_diagnostic.RCS1192.severity = none
csharp_style_namespace_declarations = file_scoped:error
resharper_arrange_object_creation_when_type_not_evident_highlighting = none
resharper_redundant_cast_highlighting=error
resharper_redundant_empty_object_creation_argument_list_highlighting = error
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator = none
resharper_empty_statement_highlighting = error