<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="GitLabJJ">
            <package pattern="JJMasterData.RecursiveProcedureAction" />
            <package pattern="JJMasterData.Protheus" />
            <package pattern="Microsoft.Extensions.Interoperability" />
        </packageSource>
    </packageSourceMapping>
</configuration>