<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="GitLabJJ">
      <package pattern="Infidex" />
      <package pattern="JJConsulting.*" />
      <package pattern="JJMasterData*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
