@using JJMasterData.Web.Extensions
@using Microsoft.Extensions.Options
@using JJMasterData.Web.Options
@inject IOptions<JJMasterDataWebOptions> Options

@model JJGridView;

@{
    Layout = Options.Value.PopUpLayoutPath;
}

@using (Html.BeginForm())
{
    <div class="col-sm-12">
        @Model.GetHtml().ToHtmlString()
    </div>
}