@inject IOptionsSnapshot<MasterDataWebOptions> Options

@{
    Layout = Options.Value.ModalLayoutPath;
}


<form asp-action="Index">
    <input name="lookupParameters" value="@ViewData["EncryptedLookupParameters"]" hidden/>
    @ViewData["LookupFormViewHtml"]
</form>


