@model JJMasterData.Web.Areas.MasterData.Models.SettingsViewModel 

<div class="@BootstrapHelper.FormGroup">
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="BootstrapVersion" class="@BootstrapHelper.Label"></label><span class="required-symbol">*</span>
            <select asp-for="BootstrapVersion" class="form-control">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="BootstrapVersion" class="text-danger"></span>
        </div>
    </div>
</div>