
@model JJMasterData.Core.DataDictionary.Models.FormElementPanel


<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-12 required">
        <expression for="VisibleExpression" icon="IconType.Eye" />
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-12 required">
        <expression for="EnableExpression" icon="IconType.Pencil" />
    </div>
</div>