@inject IStringLocalizer<MasterDataResources> StringLocalizer
@using JJMasterData.Core.Events.Extensions
@model EntityViewModel

<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <div class="form-floating">
            <input asp-for="FormEventType" placeholder="" class="form-control" disabled="disabled"/>
            <label asp-for="FormEventType"></label>
        </div>
        
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <div class="form-floating">
            <input placeholder="" class="form-control" type="text" id="formEventFields" value="@(string.Join(",", Model.FormEvent.GetCustomizedFields()))" disabled/>
            <label for="formEventFields">@StringLocalizer["Customized Fields"]</label>
        </div>
    </div>
</div>