@using JJMasterData.Core.UI.Components
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.EntityViewModel;


<div class="row mb-3">
    <div class="col-sm-10">
        <expression for="FormElement.Title" disabled="@Model.Disabled"/>
    </div>
    <div class="col-sm-2">
        <label asp-for="FormElement.TitleSize" class="form-label"></label>
        <select asp-for="FormElement.TitleSize" disabled="@Model.Disabled" asp-items="Html.GetEnumSelectList<HeadingSize>()" class="form-select"></select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-10">
        <expression for="FormElement.SubTitle" disabled="@Model.Disabled"/>
    </div>
</div>