@using JJMasterData.Core.UI.Components
@model EntityViewModel;


<div class="row">
    <div class="col-sm-12">
        <expression for="Entity.Title" disabled="@Model.Disabled"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <expression for="Entity.SubTitle" disabled="@Model.Disabled"/>
    </div>
</div>