@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IStringLocalizer<MasterDataResources> Localizer

@model EntityViewModel 

<div class="row mb-3">
    <div class="col-sm-6 flex-grow-1">
        <label asp-for="Entity.Info" class="form-label"></label>
        <input asp-for="Entity.Info" data-bs-toggle="title" title="@Localizer["Developer only information about the element."]" class="form-control" id="infoInput" disabled="@Model.Disabled" />
    </div>
</div>

