
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EntityViewModel;


@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["Entity"]}";
    string urlEdit = Url.Action("Edit", new { elementName = Model.ElementName })!;
}


<partial name="_Menu"/>


@using (Html.BeginMasterDataForm())
{
    <input asp-for="MenuId" hidden/>
    <div class="row">
        <div class="col-sm-12">
            <link-button icon="Pencil" 
                         text="@StringLocalizer["Edit"]"
                         on-client-click="location.href='@urlEdit'"/>
        </div>
    </div>

    <br/>
    
    <collapse-panel icon="Book" title="@StringLocalizer["Element"]" expanded-by-default="true">
        <partial name="_ElementPanel" model="Model"/>
    </collapse-panel>

    <collapse-panel  icon="RegularRectangleList" title="@StringLocalizer["Form Title"]" expanded-by-default="true">
        <partial name="_FormTitle" model="Model"/>
    </collapse-panel>

    if (Model.FormEvent != null)
    {
        <collapse-panel  name="eventsPanel" icon="SolidBoltLightning" title="@StringLocalizer["Events"]" expanded-by-default="true">
            <partial name="_EventsPanel" model="Model"/>
        </collapse-panel>
    }
}