@using JJMasterData.Web.Areas.DataDictionary.Models.ViewModels
@using JJMasterData.Core.UI

@inject IStringLocalizer<MasterDataResources> StringLocalizer

@model EntityViewModel;


@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["Entity"]}";
}


<partial name="_Menu"/>


@using (Html.BeginForm())
{
    <input asp-for="MenuId" hidden/>
    <div class="row">
        <div class="col-sm-12">
            <link-button icon="Pencil" 
                         text="Edit"
                         on-client-click="location.href='@Url.Action("Edit", new { elementName = Model.ElementName })'"/>
        </div>
    </div>

    <br/>
    
    <collapse-panel icon="Book" title="@StringLocalizer["Element"]" expanded-by-default="true">
        <partial name="_ElementPanel" model="Model"/>
    </collapse-panel>

    <collapse-panel  icon="RegularRectangleList" title="@StringLocalizer["FormElement"]" expanded-by-default="true">
        <partial name="_FormElementPanel" model="Model"/>
    </collapse-panel>

    if (Model.FormEvent != null)
    {
        <collapse-panel  name="eventsPanel" icon="SolidBoltLightning" title="@StringLocalizer["Events"]" expanded-by-default="true">
            <partial name="_EventsPanel" model="Model"/>
        </collapse-panel>
    }
}