@{
    Layout = "_MasterDataLayout.Popup";
}

@model Action<JJUploadFile>

<form asp-action="Import" method="post">
    <jj-upload-field name="metadata-import" configure-upload-field="Model"/>
</form>