@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Commons.Configuration.Options.MasterDataCommonsOptions

<div class="row">
    <div class="col-md-6 mb-3">
        <label asp-for="SecretKey" class="form-label"></label>
        <input asp-for="SecretKey" class="form-control"/>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for="LocalizationTableName" class="form-label"></label>
        <input asp-for="LocalizationTableName" class="form-control"/>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for="ReadProcedurePattern" class="form-label"></label>
        <input asp-for="ReadProcedurePattern" class="form-control"/>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for="WriteProcedurePattern" class="form-label"></label>
        <input asp-for="WriteProcedurePattern" class="form-control"/>
    </div>
</div>