@model ConnectionStringModel

<div class="row g-3 mb-3">
    <div class="col-sm-4">
        <div class="form-floating">
            <input asp-for="Server" class="form-control" placeholder="">
            <label asp-for="Server"></label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-floating">
            <input asp-for="Timeout" class="form-control" placeholder="">
            <label asp-for="Timeout"></label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-floating">
            <select onchange="onIntegratedSecurityChange(this.value)" asp-for="IntegratedSecurity" class="form-select" id="floatingIntegratedSecurity">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <label asp-for="IntegratedSecurity"></label>
        </div>
    </div>
</div>

<div class="row g-3 mb-3 @(Model.IntegratedSecurity ? "d-none" : "")" id="login-data">
    <div class="col-sm-6">
        <div class="form-floating">
            <input asp-for="Username" class="form-control" placeholder="">
            <label asp-for="Username"></label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating">
            <input asp-for="Password" class="form-control" placeholder="">
            <label asp-for="Password"></label>
        </div>
    </div>
</div>

<div class="row g-3 mb-3">
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input asp-for="Database" class="form-control" placeholder="">
            <label asp-for="Database"></label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input asp-for="ApplicationName" class="form-control" placeholder="">
            <label asp-for="ApplicationName"> </label>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <select asp-for="TrustServerCertificate" class="form-select" id="floatingTrustServerCertificate">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <label asp-for="TrustServerCertificate"></label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <select asp-for="Encrypt" class="form-select">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <label asp-for="Encrypt"></label>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm-4">
        <div class="form-floating mb-3">
            <select asp-for="Pooling" onchange="onPoolChange(this.value)" class="form-select">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <label asp-for="Pooling"></label>
        </div>
    </div>

    <div class="col-sm-4 pooling-data  @(!Model.Pooling ? "d-none" : "")" >
        <div class="form-floating">
            <input asp-for="MinPoolSize" class="form-control" placeholder="">
            <label asp-for="MinPoolSize"></label>
        </div>
    </div>
    <div class="col-sm-4 pooling-data @(!Model.Pooling ? "d-none" : "")">
        <div class="form-floating">
            <input asp-for="MaxPoolSize" class="form-control" placeholder="">
            <label asp-for="MaxPoolSize"></label>
        </div>
    </div>

</div>


<script type="text/javascript">
        function onIntegratedSecurityChange(value) {
            const loginData = document.getElementById("login-data");
            if (value === "True") {
                loginData.classList.add("d-none");
            } else {
                loginData.classList.remove("d-none");
            }
        }
    </script>

<script type="text/javascript">
        function onPoolChange(value) {
            const poolingData = document.getElementsByClassName("pooling-data");
            if (value === "True") {
                for (let i=0; i < poolingData.length; i++) {
                    poolingData[i].classList.remove("d-none");
                }
            }
            else{
                for (let i=0; i < poolingData.length; i++) {
                    poolingData[i].classList.add("d-none");
                }
            }
         
        }
</script>