@model JJMasterData.Core.Configuration.Options.MasterDataCoreOptions


<div class="row">
    <div class="col-md-4 mb-3">
        <label asp-for="DataDictionaryTableName" class="form-label"></label>
        <input asp-for="DataDictionaryTableName" class="form-control"/>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="AuditLogTableName" class="form-label"></label>
        <input asp-for="AuditLogTableName" class="form-control"/>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="ExportationFolderPath" class="form-label"></label>
        <input asp-for="ExportationFolderPath" class="form-control"/>
    </div>
    <div class="col-md-4 mb-3">
        <checkbox for="EnableDataDictionaryCaching" switch="true"/>
    </div>
</div>