@model MasterDataWebOptions

<div class="row">
    <div class="col-md-4 mb-3">
        <label asp-for="LayoutPath" class="form-label"></label>
        <input asp-for="LayoutPath" class="form-control"/>

    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="ModalLayoutPath" class="form-label"></label>
        <input asp-for="ModalLayoutPath" class="form-control"/>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="CustomBootstrapPath" class="form-label"></label>
        <input asp-for="CustomBootstrapPath" class="form-control"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <label asp-for="EnableBundleAndMinification" class="form-label"></label>
        <checkbox for="EnableBundleAndMinification" switch="true"/>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="UseAdvancedModeAtExpressions" class="form-label"></label>
        <checkbox for="UseAdvancedModeAtExpressions" switch="true"/>
    </div>
</div>