@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>@(ViewData["Title"] ?? "JJMasterData Examples")</title>
    <partial name="_MasterDataStylesheets"/>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <partial name="_MasterDataScripts"/>
</head>
<body>
<header class="header">
    <div class="logo" style="font-size:1em">JJMasterData Examples</div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu">
        <li><a asp-page="/Index">@Localizer["Intro"]</a></li>
        <li><a href="/pt-br/DataDictionary">@Localizer["Data Dictionary"]</a></li>
        <li><a asp-page="/Components/JJFormViewExample">JJFormView</a></li>
        <li><a asp-page="/Components/JJTitleExample">JJTitle</a></li>
        <li><a asp-page="/Components/JJAlertExample">JJAlert</a></li>
        <li><a asp-page="/Components/JJGridViewExample">JJGridView</a></li>
    </ul>
</header>
<main>
    <div class="container-fluid" style="padding-top:5%">
        @RenderBody()
    </div>
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>