@using JJMasterData.Web.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.FormElementOptions

@inject IStringLocalizer<MasterDataResources> StringLocalizer

<div class="row">
    <div class="col-sm-4">
        <checkbox for="EnableAuditLog" layout="Switch"/>
    </div>
    <div class="col-sm-4">
        <checkbox for="UseFloatingLabels" tooltip="@StringLocalizer["Show a label floating within the field. Not all fields support this option."]" layout="Switch"/>
    </div>
</div>