@inject IStringLocalizer<MasterDataResources> StringLocalizer

@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.FormElementOptions

@{
    ViewData["Title"] = $"{ViewBag.ElementName} - {StringLocalizer["Options"]}";
    Layout = "_FormElementMenuLayout";
}

<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <button name="action" type="button" onclick="location.href='@Url.Action("Edit", new { elementName = ViewBag.ElementName })'" class="@BootstrapHelper.BtnDefault btn-small">
            <span class="fa fa-pencil"></span>
            <span>&nbsp;@StringLocalizer["Edit"]</span>
        </button>
    </div>
</div>

<br/>


<collapse-panel icon="Table" title="Grid View" expanded-by-default="true">
    <fieldset disabled="disabled">
        <partial for="Grid" name="_GridView"/>
    </fieldset>
</collapse-panel>
<collapse-panel icon="Columns" title="Data Panel" expanded-by-default="true">
    <fieldset disabled="disabled">
        <partial for="Form" name="_DataPanel"/>
    </fieldset>
</collapse-panel>
<collapse-panel icon="Gear" title="@StringLocalizer["Other Options"]" expanded-by-default="true">
    <fieldset disabled="disabled">
        <partial model="Model" name="_Options"/>
    </fieldset>
</collapse-panel>