@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptionsSnapshot<MasterDataWebOptions> Options

@{
    Layout = Options.Value.ModalLayoutPath;
}


<form asp-action="Index">
    <input name="lookupParameters" value="@ViewData["EncryptedLookupParameters"]" hidden/>
    @Html.Raw(ViewData["LookupFormViewHtml"])
</form>


