@import "variables";

.CodeMirror {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.42857143;
  box-shadow: none;
  font-family: monospace;
  position: relative;
  overflow: hidden;
  color: var(--#{$prefix}body-color);
  appearance: none;
  background-color: var(--#{$prefix}body-bg);
  background-clip: padding-box;
  border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
  border-radius: var(--#{$prefix}border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.CodeMirror-focused {
  color: var(--#{$prefix}body-color);
  background-color: var(--#{$prefix}body-bg);
  border-color: var(--#{$prefix}primary-border-subtle);
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(var(--#{$prefix}primary-rgb),.25);
}

.CodeMirror-gutters{
  border-right: 1px solid var(--#{$prefix}border-color) !important;
  background-color: var(--#{$prefix}secondary-bg) !important;
}