@import "variables";

.jj-modal-sm{
  --#{$prefix}modal-width: 50% !important;
}

.jj-modal-default {
  --#{$prefix}modal-width: 75% !important;
}

.jj-modal-lg {
  --#{$prefix}modal-width: 85% !important;
  --#{$prefix}modal-height: 5% !important;
}

.jj-modal-xl {
  --#{$prefix}modal-width: 95% !important;
}

.modal-iframe {
  width: 100%;
  height: 80vh;
  border: 0
}