@inject IStringLocalizer<MasterDataResources> StringLocalizer
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApiViewModel

@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["WebApi"]}";
    ViewData["ElementName"] = Model.ElementName;
    ViewData["MenuId"] = "WebApi";
    Layout = "_FormElementMenuLayout";
}


<div class="row">
    <div class="col-sm-12">
        <button type="button" onclick="location.href='@Url.Action("Edit",new {elementName = Model.ElementName})'" class="@BootstrapHelper.BtnDefault btn-small">
            <span class="fa fa-pencil"></span>
            <span>&nbsp;@StringLocalizer["Edit"]</span>
        </button>
    </div>
</div>

<br>

<fieldset disabled="disabled">
    <card>
        <partial name="_Api" model="Model"/>
    </card>
</fieldset>


