@model JJMasterData.Core.DataDictionary.Models.FormElementOptions

<div class="row">
    <div class="col-sm-3">
        <label asp-for="EnableAuditLog" class="form-label"></label>
        <checkbox for="EnableAuditLog" switch="true"/>
    </div>
</div>