@using JJMasterData.Web.Areas.DataDictionary.Models.ViewModels
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@model JJMasterData.Core.DataDictionary.Models.FormElementOptions

@{
    ViewData["Title"] = $"{ViewBag.ElementName} - {StringLocalizer["Options"]}";
}

<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

<partial name="_Menu" model="@(new DataDictionaryViewModel(ViewBag.ElementName, ViewBag.MenuId))"/>

<div class="row">
    <div class="col-sm-12">
        <button name="action" type="button" onclick="location.href='@Url.Action("Edit", new { elementName = ViewBag.ElementName })'" class="btn btn-default btn-small">
            <span class="fa fa-pencil"></span>
            <span>&nbsp;@StringLocalizer["Edit"]</span>
        </button>
    </div>
</div>

<br/>


<collapse-panel icon="Table" title="Grid View" expanded-by-default="true">
    <fieldset disabled="disabled">
        <partial for="Grid" name="_GridView"/>
    </fieldset>
</collapse-panel>
<collapse-panel icon="Columns" title="Data Panel" expanded-by-default="true">
    <fieldset disabled="disabled">
        <partial for="Form" name="_DataPanel"/>
    </fieldset>
</collapse-panel>
<collapse-panel icon="Gear" title="@StringLocalizer["Other Options"]" expanded-by-default="true">
    <fieldset disabled="disabled">
        <partial model="Model" name="_Options"/>
    </fieldset>
</collapse-panel>