@using JJMasterData.Web.Areas.DataDictionary.Models.ViewModels
@using JJMasterData.Core.Web
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model FormElementOptions

@{
    ViewData["Title"] = $"{ViewBag.DictionaryName} - {StringLocalizer["Options"]}";
}

<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

<partial name="_Menu" model="@(new DataDictionaryViewModel(ViewBag.DictionaryName, ViewBag.MenuId))"/>

<div class="row">
    <div class="col-sm-12">
        <button name="action" type="button" onclick="location.href='@Url.Action("Edit", new { dictionaryName = ViewBag.DictionaryName })'" class="@BootstrapHelper.DefaultButton btn-small">
            <span class="fa fa-pencil"></span>
            <span>&nbsp;@StringLocalizer["Edit"]</span>
        </button>
    </div>
</div>

<br/>

<fieldset disabled="disabled">
    <jj-collapse-panel model="Model" icon="Table" title="GridView" partial="_GridView" expanded-by-default="true"/>
    <jj-collapse-panel model="Model" icon="Columns" title="JJView" partial="_FormView"  expanded-by-default="true"/>
</fieldset>