@using JJMasterData.Web.Extensions
@model JJMasterData.Web.Areas.MasterData.Models.FormViewModel

@{
    ViewData["Title"] = $"{Model.FormTitle}";
}

<form asp-controller="Form" asp-action="Render" asp-area="MasterData">
    @Html.Raw(Model.FormViewHtml)
</form>
