@inject IStringLocalizer<MasterDataResources> StringLocalizer
@using JJConsulting.FontAwesome
@using JJMasterData.Core.DataDictionary.Models.Actions
@model JJMasterData.Core.DataDictionary.Models.Actions.ScriptAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "ScriptAction";
    ViewData["CopyAction"] = "CopyScriptAction";
}

@section ActionTabs {
    <li id="navScriptAction" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divScriptAction">
            @StringLocalizer["Script Action"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="divScriptAction" class="tab-pane fade">
        <div class="row">
            <div class="@BootstrapHelper.FormGroup col-sm-12 required">
                <label asp-for="OnClientClick" class="form-label"></label>
                <input asp-for="OnClientClick" class="form-control font-monospace"/>
            </div>
        </div>

        @if (ViewData["ActionSource"] is ActionSource.Field)
        {
            <alert title="@StringLocalizer["The script will be executed when the user clicks out of the component."]" color="Info" icon="FontAwesomeIcon.InfoCircle"/>
        }
    </div>
}
