
@using JJConsulting.Html.Bootstrap.Models
@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@inject IStringLocalizer<MasterDataResources> StringLocalizer

<input type="hidden" id="isActionSave" name="isActionSave" value="false" />

<div class="row">
    <div class="col-sm-12">
        @Html.Raw(ViewBag.Error)
    </div>
</div>

<br />
<hr />

<div class="row">
    <div class="col-sm-12">
        <link-button text="@StringLocalizer["Cancel"]" icon="SolidXmark" on-client-click="window.parent.defaultModal.hide();"/>
        <link-button text="@StringLocalizer["Save"]" color="Primary" icon="Check" on-client-click="$('#isActionSave').val('true');" type="LinkButtonType.Submit"/>
    </div>
</div>

@if (ViewBag.Success != null && ViewBag.Success)
{
    <script lang="javascript" type="text/javascript">
        submitParentWindow();
    </script>
}

<br />
<br />