@inject IStringLocalizer<MasterDataResources> StringLocalizer

@model JJMasterData.Core.DataDictionary.Models.Actions.EditAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "EditAction";
    ViewData["CopyAction"] = "CopyEditAction";
    ViewData["FormRouteValues"] = new Dictionary<string, string?> { ["elementName"] = ViewData["ElementName"]?.ToString(), ["source"] = ViewData["ActionSource"]?.ToString() };
}

@section ActionTabs {
    <li id="navEdit" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divEditAction">
            @StringLocalizer["Edit Action"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="divEditAction" class="tab-pane fade">
        <div class="row">
            <div class="@BootstrapHelper.FormGroup col-sm-6">
                <checkbox for="ShowAsModal" layout="Switch" />
            </div>
            <div class="@BootstrapHelper.FormGroup col-sm-6">
                <label asp-for="ModalTitle" class="form-label"></label>
                <input asp-for="ModalTitle" class="form-control"/>
            </div>
        </div>
    </div>
}
