@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model JJMasterData.Core.DataDictionary.Models.Actions.ExportAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "ExportAction";
    ViewData["CopyAction"] = "CopyExportAction";
    ViewData["FormRouteValues"] = new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"] };
}

@section ActionTabs {
    <li id="navExportAction" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divExportAction">
            @StringLocalizer["Export Action"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="divExportAction" class="tab-pane fade">
        <partial name="_ProcessOptions" for="ProcessOptions"/>
        <div class="row">
            <div class=" col-sm-3">
                <label asp-for="FileName" class="form-label"></label>
                <tooltip title="@StringLocalizer["Name of the file that will be downloaded by the user."]"/>
                <input asp-for="FileName" class="form-control"/>
            </div>
        </div>
    </div>
}
