@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model JJMasterData.Core.DataDictionary.Models.Actions.ImportAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "ImportAction";
    ViewData["CopyAction"] = "CopyImportAction";
    ViewData["FormRouteValues"] = new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"] };
}

@section ActionTabs {
    <li id="navImportAction" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divImportAction">
            @StringLocalizer["Import Action"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="divImportAction" class="tab-pane fade">
        <partial name="_ProcessOptions" for="ProcessOptions"/>
        <label asp-for="HelpText" class="form-label"></label>
        <tooltip title="@StringLocalizer["Help text that will be shown to the user."]"/>
        <textarea asp-for="HelpText" class="form-control" rows="5"></textarea>
    </div>
}
