@using JJMasterData.Core.DataDictionary.Models.Actions
@model JJMasterData.Core.DataDictionary.Models.Actions.PluginAction
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IEnumerable<IPluginHandler> Plugins

@{
    var plugin = (IPluginActionHandler)Plugins.First(p => p.Id == Model.PluginId && p is IPluginActionHandler);

    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "PluginAction";
    ViewData["CopyAction"] = "CopyPluginAction";
    ViewData["FormRouteValues"] = new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"], fieldName = ViewBag.FieldName };
}

@section ActionFormHeader {
    <input asp-for="PluginId" class="form-control" hidden="hidden"/>
}

@section ActionTabs {
    @if (plugin.ConfigurationFields is not null)
    {
        <li id="nav-plugin" class="nav-item">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-plugin-configuration">
                @StringLocalizer["Plugin Configuration"]
            </a>
        </li>
    }
}

@section ActionTabContent {
    @if (plugin.ConfigurationFields is not null)
    {
        <div id="div-plugin-configuration" class="tab-pane fade @BootstrapHelper.Show">
            <div class="container-fluid ">
                <partial name="_PluginConfiguration" model="Model"/>
            </div>
        </div>
    }
}
