@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model JJMasterData.Core.DataDictionary.Models.Actions.SqlCommandAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "SqlCommandAction";
    ViewData["CopyAction"] = "CopySqlCommandAction";
    ViewData["FormRouteValues"] = new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"], fieldName = ViewBag.FieldName };
}

@section ActionTabs {
    <li id="nav-sql-command" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-sql-command">
            @StringLocalizer["Sql Command"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="div-sql-command" class="tab-pane fade">
        <div class="row">
            <div class="mb-3 col-sm-12 required">
                <label class="form-label">@StringLocalizer["Sql Command"]</label>
                <span class="small text-end text-info"> &nbsp;@StringLocalizer["(Type Ctrl+Space to autocomplete)"]</span>
                <div class="well" style="margin-bottom: 0">
                    <code-editor asp-for="SqlCommand" language="sql" height="300"/>
                </div>
            </div>
        </div>
    </div>
}
