@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>@ViewData["Title"] - JJMasterData Examples</title>
    <partial name="_MasterDataStylesheets"/>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <partial name="_MasterDataTheme"/>
    <partial name="_MasterDataScripts"/>
</head>
<body>
<header class="header">
    <img src="~/images/JJMasterData.png" style="width:6.5%;height: 6.5%" alt="JJMasterData" class="img-responsive logo"/>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu">
        <li><a asp-page="/Index">@Localizer["Intro"]</a></li>
        <li><a href="/pt-br/DataDictionary">@Localizer["Data Dictionary"]</a></li>
        <li><a asp-page="/JJFormViewExample">JJFormView</a></li>
        <li><a asp-page="/JJTitleExample">JJTitle</a></li>
        <li><a asp-page="/JJAlertExample">JJAlert</a></li>
    </ul>
</header>
<main>
    <div class="container-fluid" style="padding-top:5%">
        @RenderBody()
    </div>
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>