@using JJMasterData.Core.Web
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name" data-bs-theme="light" data-bs-version="@BootstrapHelper.Version">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? "JJMasterData")</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <partial name="_MasterDataStylesheets"/>
    <partial name="_MasterDataScripts"/>
</head>
<body>

<div class="container-fluid">
    @RenderBody()
</div>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>