@model JJMasterData.Web.Areas.MasterData.Models.ViewModel.OptionsViewModel 

@if (Model.Options != null)
{
    <div class="@BootstrapHelper.FormGroup">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Options!.BootstrapVersion" class="@BootstrapHelper.Label"></label><span class="required-symbol">*</span>
                <select asp-for="Options!.BootstrapVersion" class="form-control form-select">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Options!.BootstrapVersion" class="text-danger"></span>
            </div>
        </div>
    </div>
}
