@page
@using JJMasterData.Core.DataDictionary
@using JJMasterData.Core.DataDictionary.Repository.Abstractions
@using JJMasterData.Core.Web.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IDataDictionaryRepository DataDictionaryRepository

@{
    ViewData["Title"] = "JJFormView";

    bool dictionaryExists = await DataDictionaryRepository.ExistsAsync("Example");

    void Configure(JJFormView formView)
    {
        formView.FormElement.SubTitle = "You can edit any property from JJFormView at runtime";
    }
}

@if (dictionaryExists)
{
    <form>
        <jj-form-view element-name="Example" configure="Configure"/>
    </form>
}
else
{
    <jj-alert 
        color="Danger" 
        icon="IconType.Times" 
        title="Dictionary not found." 
        message="Please import Example.json. Check Intro for instructions."/>
}