html {
    height: 100%;
}

/*Panels & Cards*/
.panel-heading {
    cursor: pointer;
}

    .panel-heading .panel-title {
        position: relative;
    }

    .panel-heading[aria-expanded="true"] .panel-title:after {
        content: "\f147";
        font-family: FontAwesome;
        right: 0px;
        position: absolute;
        top: 2px;
        color: inherit;
    }

    .panel-heading[aria-expanded="false"] .panel-title:after {
        content: "\f196";
        font-family: FontAwesome;
        right: 0px;
        position: absolute;
        top: 2px;
        color: inherit;
    }


.card {
    margin-bottom: 1vh !important;
}

.card-header .jj-panel-title {
    display:flex;
    justify-content: space-between;
}

.card-header[aria-expanded="true"] .jj-panel-title:after {
    content: "\f147";
    font-family: FontAwesome;
    color: inherit;
}

.card-header[aria-expanded="false"] .jj-panel-title:after {
    content: "\f196";
    font-family: FontAwesome;
    color: inherit;
}

.card-header.bg-primary{
    color: white
}

/*Tables*/

.table .table-action {
    text-align: center;
    width: 45px;
}

.table .jjselect {
    vertical-align: middle;
    width: 70px;
    padding-left: 24px;
}

    .table .jjselect i {
        padding-top: 3px;
        float: right;
    }

.table .jjgrid-action {
    cursor: pointer;
}

    .table .jjgrid-action:hover td:first-child:before {
        font-family: 'FontAwesome';
        content: "\f142";
        position: absolute;
        left: 0px;
        font-size: 1.25em;
    }


/* Table Head Fixed Style  */

table.table-fix-head {
    border-collapse: collapse;
}

    table.table-fix-head th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, .2);
        background: #eee;
    }

        table.table-fix-head th[scope=row] {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            z-index: 1;
            vertical-align: top;
        }

    table.table-fix-head:nth-of-type(2) th:not([scope=row]):first-child {
        left: 0;
        z-index: 3;
    }

.table-fix-head th[scope=row] + td {
    min-width: 24em;
}

.table-fix-head th[scope=row] {
    min-width: 20em;
}

.table-gallery td {
    padding-right: 10px;
}

textarea {
    resize: none;
}

.required .control-label:after {
    content: "*";
    color: red;
}

.required .col-form-label:after {
    content: "*";
    color: red;
}

.jjenable-sorting {
    cursor: pointer;
    cursor: hand;
}

    .jjenable-sorting:hover {
        cursor: pointer;
        cursor: hand;
        text-decoration: underline;
    }

/*Ajax message*/
#jjform_wait_message {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    margin: -5px 0 0 -5px;
    padding: 5px;
    /*background: #666666 url(../img/ajax-background.png) 30% 30% repeat;*/
    opacity: .55;
    filter: Alpha(Opacity=55);
    cursor: progress;
}

    #jjform_wait_message .ajaxImage {
    }


    #jjform_wait_message .ajaxMessage {
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -45px;
        margin-top: 15px;
        width: 100px;
        height: 26px;
        display: none;
    }


.checkbox label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


input.loading-circle {
    background: url('/images/input-ajax-loader.gif') no-repeat right 10px center;
}

a.disabled {
    cursor: not-allowed !important;
    color: gray !important;
}

.jjborder-static p.form-control-static {
    border-top: 1px solid #e6e6e6;
    text-align: center;
}

.jjborder-static {
    text-align: center;
}

.ajax-upload-dragdrop {
    height: 60px;
}

.ajax-file-upload-statusbar {
    margin-left: 0px !important;
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

.jjform-action .default-option {
    cursor: pointer !important;
}


.jjsortable {
    cursor: -webkit-grab;
    cursor: grab;
}

    .jjsortable .ui-sortable-helper {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    .jjsortable li:hover {
        background-color: #f7f7f7;
    }

    .jjsortable .jjsortable-icon {
        cursor: -webkit-grab;
        cursor: grab;
        width: 10px;
        margin-top: 0.8em;
        text-align: right;
    }

    .jjsortable a .jjsortable-span {
        cursor: -webkit-grab;
        cursor: grab;
        margin-top: 1.95em;
        text-align: right;
        font-size: 0.6em;
    }

    .jjsortable .ui-sortable-helper,
    .jjsortable .ui-sortable-helper .jjsortable-icon {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }


    .jjsortable a.active .jjsortable-icon:after,
    .jjsortable a.active:hover .jjsortable-icon:after {
        font-family: "FontAwesome";
        content: "\f0da";
        display: inline-block;
        padding-right: 0px;
        vertical-align: middle;
    }

    .jjsortable a:hover .jjsortable-icon:after {
        font-family: "FontAwesome";
        content: "\f07d";
        display: inline-block;
        padding-right: 0px;
        vertical-align: middle;
    }


.bootstrap-tagsinput {
    width: 100%;
}

.required-symbol {
    color: red;
}

.help-description {
    cursor: pointer;
    padding-left: 4px;
    color: #005a86;
}


/* Data Dictionary Field and Panel */

@media (min-height: 310px) {

    #fieldDetail {
        height: 64vh !important;
    }

    #listField {
        height: 55vh !important;
    }
}

@media (min-height: 610px) {

    #fieldDetail {
        height: 71vh !important;
    }

    #listField {
        height: 64vh !important;
    }
}

@media (min-height: 710px) {

    #fieldDetail {
        height: 75vh !important;
    }

    #listField {
        height: 70vh !important;
    }
}

.jjrelative {
    position: relative;
}


.jjtoolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #808080;

}


    #fieldDetail {
        border-width: 0px;
        width: 100%;
        height: 75vh;
        overflow: auto;
    }

#listField {
    border-width: 0px;
    width: 100%;
    height: 69vh;
    overflow: auto;
}

div.dropdown-menu.open {
    max-height: 314px !important;
    overflow: hidden;
}

ul.dropdown-menu.inner {
    max-height: 260px !important;
    overflow-y: auto;
}

.bg-jjmasterdata {
    border-color: #dddddd !important;
}

/*Search component*/
.btn-jjsearch {
    pointer-events: none !important;
}

/* Navbar */

.jj-nav-item{
    font-size:1.2em;
}

.nav-link.jj-nav-item.active {
    background-color: #e7e7e7 !important
}

/*Bootstrap 4*/

.dropdown-item.active{
    background-color: #e7e7e7 !important
}

/* Legacy bootstrap-theme.css implementation */

a.list-group-item,
button.list-group-item {
    color: #555;
}

    a.list-group-item .list-group-item-heading,
    button.list-group-item .list-group-item-heading {
        color: #333;
    }

.page-header {
    margin: 30px 0 15px;
    border-bottom: 1px solid #eeeeee;
}

small {
    font-size: 1.5rem !important;
    font-weight: 400;
    line-height: 1;
    color: #777777;
}


/* Bootstrap 5 */
.dropdown-item > a{
    text-decoration:none
}

.jjtoolbar-bs5 {
    text-align: center;
    color: #808080;
    border-top: solid 1px #eeee;
    padding-top: 15px;
}

.jjtoolbar-item-bs5 {
    width: 7.5% !important
}

.accordion-button{
    height: auto;
}

/*Dropdown button*/
button.dropdown-toggle.form-control {
    border-bottom-color: rgb(206, 212, 218) !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-image-outset: 0 !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgb(206, 212, 218) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-color: rgb(206, 212, 218) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-top-color: rgb(206, 212, 218) !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    box-sizing: border-box !important;
    transition-property: color, background-color, border-color, box-shadow !important;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 2px !important;
}

.jj-blink {
    animation: blink 1s ease-in infinite;
}

@keyframes blink {
    from, to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.ajax-file-upload-statusbar {
    border: 1px solid #0ba1b5;
    margin-top: 10px;
    margin-right: 10px;
    margin: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 5px
}

.ajax-file-upload-filename {
    width: 100%;
    height: auto;
    margin: 0 5px 5px 10px;
    color: #807579
}

.ajax-file-upload-progress {
    margin: 0 10px 5px 10px;
    position: relative;
    width: 250px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    display: inline-block
}

.ajax-file-upload-bar {
    background-color: #0ba1b5;
    width: 0;
    height: 20px;
    border-radius: 3px;
    color: #fff
}

.ajax-file-upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}

.ajax-file-upload-red {
    -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
    -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
    box-shadow: inset 0 39px 0 -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
    cursor: pointer;
    vertical-align: top;
    margin-right: 5px
}

.ajax-file-upload-green {
    background-color: #77b55a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 #5b8a3c;
    vertical-align: top;
    margin-right: 5px
}

.ajax-file-upload {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    line-height: 20px;
    height: 25px;
    margin: 0 10px 10px 0;
    display: inline-block;
    background: #fff;
    border: 1px solid #e8e8e8;
    color: #888;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 2px 0 0 #e8e8e8;
    -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
    box-shadow: 0 2px 0 0 #e8e8e8;
    padding: 6px 10px 4px 10px;
    color: #fff;
    background: #2f8ab9;
    border: 0;
    -moz-box-shadow: 0 2px 0 0 #13648d;
    -webkit-box-shadow: 0 2px 0 0 #13648d;
    box-shadow: 0 2px 0 0 #13648d;
    vertical-align: middle
}

    .ajax-file-upload:hover {
        background: #3396c9;
        -moz-box-shadow: 0 2px 0 0 #15719f;
        -webkit-box-shadow: 0 2px 0 0 #15719f;
        box-shadow: 0 2px 0 0 #15719f
    }

.ajax-upload-dragdrop {
    border: 2px dotted #a5a5c7;
    color: #dadce3;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 0 10px
}

    .ajax-upload-dragdrop.state-hover {
        border: 2px solid #a5a5c7
    }

.ajax-file-upload-error {
    color: red
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/*Workaround https://github.com/flatpickr/flatpickr/issues/2575*/
.date > .form-control {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}



/*JJMasterData Web*/
.bs-clipboard {
    position: absolute;
    right: 5px;
    top: 5px;
}

    .bs-clipboard button.btn-default {
        background-color: inherit;
    }