@inject IStringLocalizer<MasterDataResources> StringLocalizer

<div class="row">
    <div class="col-sm-12" id="divWarning" style="display: none;">
        <alert title="@StringLocalizer["Atention!"]" icon="IconType.InfoCircle">
            @StringLocalizer["Some databases have limitation on object names,"]
            @StringLocalizer["for example Oracle with version less than 12c is limited to 30 characters."]<br/>
            @StringLocalizer["We recommend checking your database documentation before proceeding."]
        </alert>
    </div>
</div>