@inject IOptions<JJMasterDataWebOptions> Options
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.ImportViewModel

@{
    Layout = Options.Value.PopUpLayoutPath;
}

<form asp-action="Import" method="post">
    @Html.Raw(Model.UploadAreaHtml)
</form>