@{
    Layout = "_MasterDataLayout.Popup";
}

@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.ImportViewModel

<form asp-action="Import" method="post">
    @Html.Raw(Model.UploadAreaHtml)
</form>