@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@model ApiViewModel
    
@{
    Layout = "_FormElementMenuLayout";
    ViewData["ElementName"] = Model.ElementName;
    ViewData["MenuId"] = "Api";
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["WebApi"]}";
}


@using (Html.BeginMasterDataForm("Edit", "Api"))
{
    <input asp-for="ElementName" hidden="hidden"/>
    <div class="row">
        <div class="col-sm-12">
            <link-button type="LinkButtonType.Submit" icon="Check" css-class="btn-small" text="@StringLocalizer["Save"]"/>
            <link-button icon="Times" css-class="btn-small" text="@StringLocalizer["Cancel"]" asp-action="Index" asp-route-elementName="@Model.ElementName"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <validation-summary/>
        </div>
    </div>
    <card>
        <partial name="_Api" model="Model"/>
    </card>
}

