@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.ApiViewModel

@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["WebApi"]}";
}

<partial name="_Menu"/>

<div class="row">
    <div class="col-sm-12">
        <button type="button" onclick="location.href='@Url.Action("Edit",new {elementName = Model.ElementName})'" class="btn btn-default btn-small">
            <span class="fa fa-pencil"></span>
            <span>&nbsp;@StringLocalizer["Edit"]</span>
        </button>
    </div>
</div>

<br>

<fieldset disabled="disabled">
    <card partial="_Api" model="Model"/>
</fieldset>


