@page

@using JJMasterData.Core.DataDictionary

@{
    ViewData["Title"] = "JJFormView";
    
    void ConfigureFormElement(FormElement formElement)
    {
        formElement.Title = "My dynamic title";
        formElement.SubTitle = "You can edit any property from FormElement at runtime";
    }
}

<form>
    <jj-form-view element-name="Product" configure-form-element="ConfigureFormElement"/>
</form>