@page

@using JJMasterData.Core.WebComponents

@{
    ViewData["Title"] = "JJFormView";
    
    void Configure(JJFormView formView)
    {
        formView.FormElement.Title = "My dynamic title";
        formView.FormElement.SubTitle = "You can edit any property from FormElement at runtime";
    }
}

<form>
    <jj-form-view element-name="Product" configure="Configure"/>
</form>