@page

@using JJMasterData.Core.WebComponents

@{
    ViewData["Title"] = "JJFormView";
    
    void Configure(JJFormView formView)
    {
        formView.FormElement.SubTitle = "You can edit any property from JJFormView at runtime";
    }
}

<form>
    <jj-form-view element-name="Example" configure="Configure"/>
</form>